# Firebase
.firebase/emulators/
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Dependencies
node_modules/

# Build-related
dist/
lib/

# IDE / System
.idea/
.vscode/
.DS_Store

# dotenv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Functions specific
functions/node_modules/
functions/lib/
