# Dependencies
/node_modules

# Build output
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite local env files
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Backups and large files
*.zip
*.tar.gz
/RECOVERY_AREA/

# Secrets
firebase-service-account.json
