rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Funzione per verificare se l'utente è loggato
    function isLoggedIn() {
      return request.auth != null;
    }

    // Regola globale che si applica a tutti i documenti in tutte le collezioni
    // Permette a QUALSIASI utente loggato di leggere e scrivere OVUNQUE.
    // ATTENZIONE: REGOLE INSICURE
    match /{document=**} {
      allow read, write: if isLoggedIn();
    }
  }
}
